[package]
name = "dbsp_adapters"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"
description = "Data adapters for continuous streaming data analytics with DBSP"
homepage = "https://github.com/feldera/feldera"
repository = "https://github.com/feldera/feldera"
keywords = ["DBSP", "streaming", "analytics", "database"]
categories = ["database", "api-bindings", "network-programming"]
publish = false

[features]
default = ["with-kafka", "with-deltalake", "with-avro"]
with-kafka = ["rdkafka"]
with-deltalake = ["deltalake"]
with-avro = ["apache-avro", "schema_registry_converter"]
# Run delta table tests against an S3 bucket.  Requires S3 authentication key
# to be provided via an environment variable.
delta-s3-test = []

[dependencies]
pipeline_types = { path = "../pipeline-types/" }
awc = { version = "3.1.1", default-features = false, features = ["compress-gzip", "compress-brotli", "cookies", "rustls"] }
async-stream = "0.3.5"
num-traits = "0.2.15"
num-derive = "0.3.3"
anyhow = { version = "1.0.57", features = ["backtrace"] }
circular-queue = { version = "0.2.6", features = ["serde_support"] }
crossbeam = "0.8.2"
dbsp = { path = "../dbsp" }
serde = { version = "1.0", features = ["derive", "rc"] }
erased-serde = "0.3.23"
once_cell = "1.9.0"
serde_yaml = "0.9.14"
serde_json = { version = "1.0.103", features = ["raw_value"] }
serde_urlencoded = "0.7.1"
form_urlencoded = "1.2.0"
csv = "1.2.2"
# cmake-build is required on Windows.
rdkafka = { version = "0.34.0", features = ["cmake-build", "ssl-vendored", "gssapi-vendored"], optional = true }
aws-sdk-s3 = { version = "1.17.0", features = ["behavior-version-latest"] }
aws-types = "1.1.7"
actix = "0.13.1"
actix-web = { version = "4.4.0", default-features = false, features = ["cookies", "macros", "compress-gzip", "compress-brotli"] }
mime = "0.3.16"
log = "0.4.20"
# Once chrono is released with `849932` chrono version needs to be updated in size-of crate:
size-of = { git = "https://github.com/gz/size-of.git", rev = "3ec40db", features = ["time-std", "ordered-float"], optional = true }
futures = { version = "0.3.28" }
futures-util = { version = "0.3.28" }
proptest = { version = "1.0.0", optional = true }
proptest-derive = { version = "0.3.0", optional = true }
env_logger = "0.10.0"
clap = { version = "4.0.32", features = ["derive"] }
tokio = { version = "1.25.0", features = ["sync", "macros", "fs", "rt"] }
prometheus = "0.13.3"
utoipa = "4.1"
# Go back to a version once commit containing 849932 is released:
chrono = { git = "https://github.com/chronotope/chrono", rev = "849932", features = ["rkyv-64", "serde"] }
colored = "2.0.0"
uuid = { version = "1.3.3", features = ["v4", "std"] }
webpki-roots = "0.25.1"
rustls = "0.20.8"
lazy_static = "1.4.0"
rkyv = { git = "https://github.com/gz/rkyv.git", rev = "3d3fd86", default-features = false, features = ["std", "size_64", "extra_traits"] }
csv-core = "0.1.10"
rand = "0.8.5"
regex = "1.10.2"
tempfile = "3.10.0"
async-trait = "0.1"
parquet = { version = "51.0.0", features = ["json"] }
arrow = { version = "51.0.0", features = ["chrono-tz"] }
serde_arrow = { git = "https://github.com/gz/serde_arrow.git", features = ["arrow-51"], rev = "c9b5cff" }
# serde_arrow = { path = "../../../serde_arrow/serde_arrow", features = ["arrow-51"] }
bytes = "1.5.0"
# `datafusion` must be enabled for the writer to implement the `Invariant` feature.
deltalake = { version = "0.17.3", features = ["datafusion", "s3", "gcs", "azure"], optional = true }
apache-avro = { version = "0.16.0", optional = true }
schema_registry_converter = { version = "4.0.0", features = ["avro", "blocking"], optional = true }
rust_decimal = { git = "https://github.com/gz/rust-decimal.git", rev = "ea85fdf" }
metrics-exporter-tcp = { version = "0.9.0" }
url = "2.5.0"
metrics-util = "0.16.3"
metrics = "0.22.3"
ordered-float = { version = "4.2.0", features = ["serde"] }

[target.'cfg(target_os = "linux")'.dependencies]
jemalloc_pprof = "0.1.0"

[target.'cfg(any(target_os = "macos", target_os = "linux"))'.dependencies]
psutil = "3.2.2"

[dev-dependencies]
actix-test = "0.1.1"
bstr = { version = "0.2.1", features = ["serde1"] }
serde_json = "1.0.89"
size-of = { git = "https://github.com/gz/size-of.git", rev = "3ec40db", features = ["time-std", "ordered-float"] }
tempfile = "3.3.0"
proptest = "1.0.0"
proptest-derive = "0.3.0"
futures = "0.3.25"
bytestring = "1.2.0"
actix-codec = "0.5.0"
async-stream = "0.3.5"
futures-timer = "3.0.2"
test_bin = "0.4.0"
reqwest = { version = "0.11.20", features = ["blocking"] }
serial_test = "2.0.0"
rust_decimal_macros = "1.32"
mockall = "0.12.1"
pretty_assertions = "1.4.0"
sqllib = { path = "../../sql-to-dbsp-compiler/lib/sqllib" }
num-bigint = "0.4.4"

[package.metadata.cargo-machete]
ignored = ["ordered-float"]
