[data-theme="feldera-modern-theme"] {
  --text-scaling: 1;
  --base-font-color: var(--color-surface-950);
  --base-font-color-dark: var(--color-surface-50);
  --base-font-family: DM Sans Variable;
  --base-font-size: inherit;
  --base-line-height: 20px;
  --base-font-weight: normal;
  --base-font-style: normal;
  --base-letter-spacing: 0em;
  --heading-font-color: inherit;
  --heading-font-color-dark: inherit;
  --heading-font-family: inherit;
  --heading-font-weight: bold;
  --heading-font-style: normal;
  --heading-letter-spacing: inherit;
  --anchor-font-color: var(--color-primary-500);
  --anchor-font-color-dark: var(--color-primary-400);
  --anchor-font-family: inherit;
  --anchor-font-size: inherit;
  --anchor-line-height: inherit;
  --anchor-font-weight: inherit;
  --anchor-font-style: inherit;
  --anchor-letter-spacing: inherit;
  --anchor-text-decoration: none;
  --anchor-text-decoration-hover: underline;
  --anchor-text-decoration-active: none;
  --anchor-text-decoration-focus: none;
  --spacing: 4px;
  --radius-base: 6px;
  --radius-container: 12px;
  --default-border-width: 2px;
  --default-divide-width: 1px;
  --default-ring-width: 1px;
  --body-background-color: rgb(255 255 255);
  --body-background-color-dark: var(--color-dark);
  --color-dark: rgb(24 24 24);
  --color-primary-50: oklch(90.8% 0.05 328.17deg);
  --color-primary-100: oklch(83.61% 0.09 328.86deg);
  --color-primary-200: oklch(76.82% 0.13 329.53deg);
  --color-primary-300: oklch(70.1% 0.17 330.23deg);
  --color-primary-400: oklch(64.27% 0.2 330.96deg);
  --color-primary-500: oklch(59.22% 0.23 331.72deg);
  --color-primary-600: oklch(53.65% 0.2 331.87deg);
  --color-primary-700: oklch(47.91% 0.18 331.66deg);
  --color-primary-800: oklch(41.87% 0.16 331.38deg);
  --color-primary-900: oklch(35.74% 0.13 330.95deg);
  --color-primary-950: oklch(29.4% 0.1 331.06deg);
  --color-primary-contrast-dark: var(--color-primary-950);
  --color-primary-contrast-light: var(--color-surface-50);
  --color-primary-contrast-50: var(--color-primary-contrast-dark);
  --color-primary-contrast-100: var(--color-primary-contrast-dark);
  --color-primary-contrast-200: var(--color-primary-contrast-dark);
  --color-primary-contrast-300: var(--color-primary-contrast-dark);
  --color-primary-contrast-400: var(--color-primary-contrast-dark);
  --color-primary-contrast-500: var(--color-primary-contrast-light);
  --color-primary-contrast-600: var(--color-primary-contrast-light);
  --color-primary-contrast-700: var(--color-primary-contrast-light);
  --color-primary-contrast-800: var(--color-primary-contrast-light);
  --color-primary-contrast-900: var(--color-primary-contrast-light);
  --color-primary-contrast-950: var(--color-primary-contrast-light);
  --color-secondary-50: oklch(98.35% 0.02 84.56deg);
  --color-secondary-100: oklch(94.57% 0.04 77.22deg);
  --color-secondary-200: oklch(90.99% 0.07 73.71deg);
  --color-secondary-300: oklch(87.63% 0.1 73.57deg);
  --color-secondary-400: oklch(84.33% 0.12 71.18deg);
  --color-secondary-500: oklch(81.09% 0.14 69.14deg);
  --color-secondary-600: oklch(73.19% 0.13 67.29deg);
  --color-secondary-700: oklch(65.18% 0.12 64.75deg);
  --color-secondary-800: oklch(57.01% 0.11 62.59deg);
  --color-secondary-900: oklch(48.48% 0.09 58.43deg);
  --color-secondary-950: oklch(39.46% 0.08 52.84deg);
  --color-secondary-contrast-dark: var(--color-secondary-950);
  --color-secondary-contrast-light: var(--color-secondary-50);
  --color-secondary-contrast-50: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-100: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-200: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-300: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-400: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-500: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-600: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-700: var(--color-secondary-contrast-light);
  --color-secondary-contrast-800: var(--color-secondary-contrast-light);
  --color-secondary-contrast-900: var(--color-secondary-contrast-light);
  --color-secondary-contrast-950: var(--color-secondary-contrast-light);
  --color-tertiary-50: oklch(95.35% 0.02 274.08deg);
  --color-tertiary-100: oklch(85.13% 0.07 269.37deg);
  --color-tertiary-200: oklch(74.98% 0.12 267.48deg);
  --color-tertiary-300: oklch(65.47% 0.17 265.45deg);
  --color-tertiary-400: oklch(56.59% 0.22 263.9deg);
  --color-tertiary-500: oklch(49.59% 0.26 263.37deg);
  --color-tertiary-600: oklch(46.52% 0.24 263.44deg);
  --color-tertiary-700: oklch(43.45% 0.21 263.55deg);
  --color-tertiary-800: oklch(40.34% 0.19 264.13deg);
  --color-tertiary-900: oklch(37.36% 0.16 264.89deg);
  --color-tertiary-950: oklch(34.49% 0.13 266.38deg);
  --color-tertiary-contrast-dark: var(--color-tertiary-950);
  --color-tertiary-contrast-light: var(--color-tertiary-50);
  --color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-400: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-500: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
  --color-success-50: oklch(94.27% 0.13 131.14deg);
  --color-success-100: oklch(88.86% 0.15 133.43deg);
  --color-success-200: oklch(83.49% 0.17 135.25deg);
  --color-success-300: oklch(78.19% 0.19 136.88deg);
  --color-success-400: oklch(72.99% 0.2 138.21deg);
  --color-success-500: oklch(67.93% 0.21 139.47deg);
  --color-success-600: oklch(62.46% 0.19 139.8deg);
  --color-success-700: oklch(56.88% 0.17 140.23deg);
  --color-success-800: oklch(51.44% 0.16 140.7deg);
  --color-success-900: oklch(45.58% 0.14 141.28deg);
  --color-success-950: oklch(39.54% 0.13 141.79deg);
  --color-success-contrast-dark: var(--color-success-950);
  --color-success-contrast-light: var(--color-success-50);
  --color-success-contrast-50: var(--color-success-contrast-dark);
  --color-success-contrast-100: var(--color-success-contrast-dark);
  --color-success-contrast-200: var(--color-success-contrast-dark);
  --color-success-contrast-300: var(--color-success-contrast-dark);
  --color-success-contrast-400: var(--color-success-contrast-dark);
  --color-success-contrast-500: var(--color-success-contrast-dark);
  --color-success-contrast-600: var(--color-success-contrast-light);
  --color-success-contrast-700: var(--color-success-contrast-light);
  --color-success-contrast-800: var(--color-success-contrast-light);
  --color-success-contrast-900: var(--color-success-contrast-light);
  --color-success-contrast-950: var(--color-success-contrast-light);
  --color-warning-50: oklch(98.02% 0.11 108.28deg);
  --color-warning-100: oklch(93.99% 0.12 106.58deg);
  --color-warning-200: oklch(89.75% 0.14 104.66deg);
  --color-warning-300: oklch(85.8% 0.15 102.97deg);
  --color-warning-400: oklch(81.59% 0.15 101.16deg);
  --color-warning-500: oklch(77.6% 0.15 99.58deg);
  --color-warning-600: oklch(71.88% 0.14 99.55deg);
  --color-warning-700: oklch(66.05% 0.13 99.55deg);
  --color-warning-800: oklch(60.08% 0.12 99.51deg);
  --color-warning-900: oklch(53.96% 0.11 99.49deg);
  --color-warning-950: oklch(47.66% 0.1 99.44deg);
  --color-warning-contrast-dark: var(--color-surface-950);
  --color-warning-contrast-light: var(--color-surface-50);
  --color-warning-contrast-50: var(--color-warning-contrast-dark);
  --color-warning-contrast-100: var(--color-warning-contrast-dark);
  --color-warning-contrast-200: var(--color-warning-contrast-dark);
  --color-warning-contrast-300: var(--color-warning-contrast-dark);
  --color-warning-contrast-400: var(--color-warning-contrast-dark);
  --color-warning-contrast-500: var(--color-warning-contrast-dark);
  --color-warning-contrast-600: var(--color-warning-contrast-dark);
  --color-warning-contrast-700: var(--color-warning-contrast-dark);
  --color-warning-contrast-800: var(--color-warning-contrast-light);
  --color-warning-contrast-900: var(--color-warning-contrast-light);
  --color-warning-contrast-950: var(--color-warning-contrast-light);
  --color-error-50: oklch(87.93% 0.06 18.47deg);
  --color-error-100: oklch(79.75% 0.11 12.81deg);
  --color-error-200: oklch(72.31% 0.16 12.6deg);
  --color-error-300: oklch(66.22% 0.2 14.46deg);
  --color-error-400: oklch(61.74% 0.23 18.39deg);
  --color-error-500: oklch(59.3% 0.24 23.44deg);
  --color-error-600: oklch(54.48% 0.22 23.65deg);
  --color-error-700: oklch(49.55% 0.2 23.89deg);
  --color-error-800: oklch(44.28% 0.18 24.42deg);
  --color-error-900: oklch(39.07% 0.16 24.86deg);
  --color-error-950: oklch(33.68% 0.14 25.43deg);
  --color-error-contrast-dark: var(--color-surface-900);
  --color-error-contrast-light: var(--color-surface-50);
  --color-error-contrast-50: var(--color-error-contrast-dark);
  --color-error-contrast-100: var(--color-error-contrast-dark);
  --color-error-contrast-200: var(--color-error-contrast-dark);
  --color-error-contrast-300: var(--color-error-contrast-light);
  --color-error-contrast-400: var(--color-error-contrast-light);
  --color-error-contrast-500: var(--color-error-contrast-light);
  --color-error-contrast-600: var(--color-error-contrast-light);
  --color-error-contrast-700: var(--color-error-contrast-light);
  --color-error-contrast-800: var(--color-error-contrast-light);
  --color-error-contrast-900: var(--color-error-contrast-light);
  --color-error-contrast-950: var(--color-error-contrast-light);
  --color-surface-50: oklch(97.31% 0 none);
  --color-surface-100: oklch(90.06% 0 none);
  --color-surface-200: oklch(82.66% 0 none);
  --color-surface-300: oklch(75.08% 0 none);
  --color-surface-400: oklch(67.31% 0 none);
  --color-surface-500: oklch(59.31% 0 none);
  --color-surface-600: oklch(54.86% 0 none);
  --color-surface-700: oklch(50.68% 0 none);
  --color-surface-800: oklch(46.04% 0 none);
  --color-surface-900: oklch(41.65% 0 none);
  --color-surface-950: oklch(36.77% 0 none);
  --color-surface-contrast-dark: var(--color-surface-950);
  --color-surface-contrast-light: var(--color-surface-50);
  --color-surface-contrast-50: var(--color-surface-contrast-dark);
  --color-surface-contrast-100: var(--color-surface-contrast-dark);
  --color-surface-contrast-200: var(--color-surface-contrast-dark);
  --color-surface-contrast-300: var(--color-surface-contrast-dark);
  --color-surface-contrast-400: var(--color-surface-contrast-dark);
  --color-surface-contrast-500: var(--color-surface-contrast-light);
  --color-surface-contrast-600: var(--color-surface-contrast-light);
  --color-surface-contrast-700: var(--color-surface-contrast-light);
  --color-surface-contrast-800: var(--color-surface-contrast-light);
  --color-surface-contrast-900: var(--color-surface-contrast-light);
  --color-surface-contrast-950: var(--color-surface-contrast-light);
}
