# Ignore target and other large directories.
**/_build
**/target
**/pipeline_data
**/ldbc-graphalytics-data
**/__pycache__
**/.venv
**/.git
web-console/pipeline-manager-*/
web-console/node_modules/
web-console/.svelte-kit/
web-console/tmp/
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.output
.vercel
.idea
.ruff_cache
playwright-artifacts
feldera.egg-info
