# Ignore target and other large directories.
**/_build
**/target
**/pipeline_data
**/ldbc-graphalytics-data
**/__pycache__
**/.venv
**/.git
js-packages/profiler-lib/node_modules/
js-packages/profiler-lib/dist/
js-packages/profiler-app/node_modules/
js-packages/profiler-app/dist/
js-packages/web-console/node_modules/
js-packages/web-console/.svelte-kit/
js-packages/web-console/build/
node_modules/
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.output
.vercel
.idea
.ruff_cache
playwright-artifacts
feldera.egg-info
