[workspace]
members = [
  "crates/adapters",
  "crates/dbsp",
  "crates/feldera-storage",
  "crates/nexmark",
  "crates/pipeline-types",
  "crates/pipeline_manager",
  "sql-to-dbsp-compiler/lib/hashing",
  "sql-to-dbsp-compiler/lib/readers",
  "sql-to-dbsp-compiler/lib/sqllib",
  "sql-to-dbsp-compiler/lib/sqlvalue",
]	  
exclude = ["sql-to-dbsp-compiler/temp"]
resolver = "2"

[workspace.metadata.release]
release = false

[profile.bench]
debug = true

[patch.crates-io]
rkyv = { git = "https://github.com/gz/rkyv.git", rev = "3d3fd86" }
rust_decimal = { git = "https://github.com/gz/rust-decimal.git", rev = "ea85fdf" }
size-of = { git = "https://github.com/gz/size-of.git", rev = "3ec40db" }
