[package]
name = "feldera-storage"
version = "0.49.0"
edition = "2021"
description = "Storage crate for feldera"
homepage = "https://github.com/feldera/feldera"
repository = "https://github.com/feldera/feldera"
license = "MIT OR Apache-2.0"

[dependencies]
feldera-types = { workspace = true }
tokio = { workspace = true, features = ["macros", "rt", "rt-multi-thread"] }
libc = { workspace = true }
rkyv = { workspace = true, features = ["std", "size_64", "validation", "uuid"] }
object_store = { workspace = true, features = ["aws", "gcp", "azure", "http"] }
serde = { workspace = true, features = ["derive"] }
thiserror =  { workspace = true }
uuid = { workspace = true, features = ["v7"] }
inventory = { workspace = true }
tracing = { workspace = true }
once_cell = { workspace = true }

[target.'cfg(target_family = "unix")'.dependencies]
nix = { version = "0.27.1", features = ["uio", "feature", "fs"] }
