[package]
name = "feldera-storage"
description = "Storage crate for feldera"
readme = "README.md"

edition = { workspace = true }
version = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
license = { workspace = true }
authors = { workspace = true }
rust-version = { workspace = true }

[dependencies]
anyhow = { workspace = true }
feldera-types = { workspace = true }
tokio = { workspace = true, features = ["macros", "rt", "rt-multi-thread"] }
libc = { workspace = true }
rkyv = { workspace = true, features = ["std", "size_64", "validation", "uuid"] }
object_store = { workspace = true, features = ["aws", "gcp", "azure", "http"] }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
thiserror =  { workspace = true }
uuid = { workspace = true, features = ["v7"] }
inventory = { workspace = true }
tracing = { workspace = true }
once_cell = { workspace = true }

[target.'cfg(target_family = "unix")'.dependencies]
nix = { version = "0.27.1", features = ["uio", "feature", "fs"] }
