[package]
name = "fda"
description = "A CLI tool for interacting with Feldera"
homepage = "https://github.com/feldera/feldera"
repository = "https://github.com/feldera/feldera"
license = "MIT OR Apache-2.0"
version = "0.40.0"
edition = "2021"
include = ["openapi.json", "/src", "build.rs", "COPYRIGHT", "README.md"]


[dependencies]
log = "0.4"
clap = { version = "4.5", features = ["derive", "env", "color"] }
clap_complete = { version = "4.5", features = ["unstable-dynamic"] }
progenitor-client = { version = "0.9" }
reqwest = { version = "0.12", features = ["json", "stream"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0" }
chrono = { version = "0.4", features = ["serde"] }
uuid = { version = "1.11.0", features = ["serde", "v7"] }
tokio = { version = "1.0.0", features = ["rt-multi-thread", "macros", "io-std", "process"] }
feldera-types = { path = "../feldera-types", version = "0.40.0" }
env_logger = "0.11"
tabled = { version = "0.17", features = ["macros", "ansi"] }
json_to_table = "0.9.0"
rustyline = { version = "15.0", features = ["with-file-history"] }
directories = { version = "6.0" }
futures-util = "0.3"
futures = "0.3"
tokio-util = "0.7"
tempfile = "3.15"
rmpv = { version = "1.3", features = ["with-serde"] }

[build-dependencies]
prettyplease = "0.2.22"
progenitor = { version = "0.7.0" }
serde_json = "1.0"
syn = "2.0.77"
reqwest = { version = "0.11", features = ["json", "stream"] }

[package.metadata.cargo-machete]
ignored = ["progenitor-client", "chrono", "prettytable-rs", "serde", "serde_json", "uuid"]
