/*
Some of these CSS stylesheet rules are based on the IOTA wiki theme
which is under MIT License with the following copyright:

Copyright © 2021 Phylo, Dr. Electron, Jeroen van den Hout, Critical
*/

.navbar--dark {
  --ifm-navbar-background-color: #00121F;
}

:root {
  --ifm-color-primary: #14cabf;
  --ifm-color-primary-dark: #10a299;
  --ifm-color-primary-darker: #0c7973;
  --ifm-color-primary-darkest: #08514c;
  --ifm-color-primary-light: #21e9dd;
  --ifm-color-primary-lighter: #4aede3;
  --ifm-color-primary-lightest: #72f1e9;

  --ifm-color-gray-0: hsl(220, 100%, 100%);
  --ifm-color-gray-100: hsl(220, 65%, 98%);
  --ifm-color-gray-200: hsl(220, 60%, 94%);
  --ifm-color-gray-300: hsl(220, 55%, 90%);
  --ifm-color-gray-400: hsl(220, 35%, 75%);
  --ifm-color-gray-500: hsl(220, 25%, 65%);
  --ifm-color-gray-600: hsl(220, 15%, 50%);
  --ifm-color-gray-700: hsl(220, 25%, 35%);
  --ifm-color-gray-800: hsl(220, 35%, 25%);
  --ifm-color-gray-900: hsl(220, 55%, 15%);
  --ifm-color-gray-1000: hsl(220, 60%, 10%);

  --ifm-background-color: var(--ifm-color-emphasis-0);
  --ifm-background-surface-color: var(--ifm-color-emphasis-0);

  --ifm-card-background-color: var(--ifm-color-emphasis-0);

  --ifm-color-content: var(--ifm-color-emphasis-700);
  --ifm-color-content-inverse: var(--ifm-color-emphasis-0);

  --ifm-dropdown-link-color: var(--ifm-color-emphasis-700);

  --ifm-font-family-base: Inter, sans-serif;

  --ifm-footer-background-color: var(--ifm-color-gray-900);
  --ifm-footer-color: var(--ifm-color-gray-300);
  --ifm-footer-link-color: var(--ifm-color-gray-300);
  --ifm-footer-link-hover-color: var(--ifm-color-gray-0);
  --ifm-footer-title-color: var(--ifm-menu-color);

  --ifm-global-border-width: 1px;
  --ifm-global-radius: 0.5rem;

  --ifm-heading-color: var(--ifm-color-emphasis-900);
  --ifm-heading-font-family: 'Metropolis Semi Bold', sans-serif;
  --ifm-heading-font-weight: var(--ifm-font-weight-normal);

  --ifm-hero-background-color: var(--ifm-color-emphasis-100);

  --ifm-hover-overlay: var(--ifm-color-emphasis-100);

  --ifm-hr-border-color: var(--ifm-color-emphasis-200);
  --ifm-hr-border-width: var(--ifm-global-border-width);

  --ifm-link-hover-decoration: underline;

  --ifm-menu-color: var(--ifm-color-emphasis-600);
  --ifm-menu-color-active: var(--ifm-color-emphasis-1000);

  --ifm-navbar-item-padding-horizontal: 1.5rem;
  --ifm-navbar-link-color: var(--ifm-color-emphasis-600);
  --ifm-navbar-link-hover-color: var(--ifm-menu-color-active);
  --ifm-navbar-padding-horizontal: 1.5rem;
  --ifm-navbar-shadow: none;

  --ifm-scrollbar-track-background-color: transparent;
  --ifm-scrollbar-thumb-background-color: var(--ifm-color-emphasis-300);
  --ifm-scrollbar-thumb-hover-background-color: var(--ifm-color-emphasis-400);

  --ifm-toc-border-color: var(--ifm-color-emphasis-200);
  --ifm-toc-link-color: var(--ifm-menu-color);
  --ifm-toc-padding-vertical: 0.25rem;
  --ifm-toc-padding-horizontal: 1rem;

  --site-color-favorite-background: var(--ifm-color-emphasis-100);
  --site-color-tooltip: #fff;
  --site-color-tooltip-background: #353738;
  --site-color-svg-icon-favorite: #e9669e;
  --site-color-checkbox-checked-bg: hsl(167deg 56% 73% / 25%);
}

:root[data-theme='dark'] {
  --ifm-navbar-background-color: #00121F;
  --ifm-color-emphasis-0: hsl(205, 100%, 6%);
  --ifm-color-emphasis-100: hsl(205, 74%, 9%);
  --ifm-color-emphasis-200: hsl(205, 50%, 12%);
  --ifm-footer-background-color: var(--ifm-color-emphasis-100);

  --ifm-color-content: var(--ifm-color-emphasis-900);
  --ifm-color-content-inverse: var(--ifm-color-emphasis-900);

  --ifm-background-color: var(--ifm-color-emphasis-0);
  --ifm-background-surface-color: var(--ifm-color-emphasis-0);

  --ifm-card-background-color: var(--ifm-color-emphasis-100);

  --ifm-hero-background-color: var(--ifm-color-emphasis-0);

  --ifm-hover-overlay: var(--ifm-color-emphasis-100);

  --ifm-scrollbar-track-background-color: transparent;
  --ifm-scrollbar-thumb-background-color: var(--ifm-color-emphasis-300);
  --ifm-scrollbar-thumb-hover-background-color: var(--ifm-color-emphasis-400);
}

:root .DocSearch {
  --docsearch-primary-color: var(--ifm-color-content);
  --docsearch-text-color: var(--ifm-color-content);
  --docsearch-spacing: 1.2rem;
  --docsearch-icon-stroke-width: 1.5px;
  --docsearch-highlight-color: var(--ifm-color-primary);
  --docsearch-muted-color: var(--ifm-color-emphasis-400);
  --docsearch-container-background: rgba(0, 0, 0, 0.6);
  --docsearch-logo-color: var(--docsearch-primary-color);

  /* modal */
  --docsearch-modal-width: 70vw;
  --docsearch-modal-height: 80vh;
  --docsearch-modal-background: var(--ifm-background-surface-color);
  --docsearch-modal-shadow: none;

  /* searchbox */
  --docsearch-searchbox-height: 3rem;
  --docsearch-searchbox-background: transparent;
  --docsearch-searchbox-focus-background: transparent;
  --docsearch-searchbox-shadow: none;

  /* hit */
  --docsearch-hit-color: var(--ifm-menu-color-active);
  --docsearch-hit-active-color: var(--ifm-menu-color-active);
  --docsearch-hit-background: none;
  --docsearch-hit-shadow: none;

  /* key */
  --docsearch-key-gradient: none;
  --docsearch-key-shadow: none;

  /* footer */
  --docsearch-footer-height: 2rem;
  --docsearch-footer-background: none;
  --docsearch-footer-shadow: none;
}

/* Darkmode */

html[data-theme='dark'] .DocSearch {
  --docsearch-text-color: var(--ifm-color-content);
  --docsearch-container-background: rgba(0, 0, 0, 0.6);
  --docsearch-modal-background: var(--ifm-background-surface-color);
  --docsearch-modal-shadow: none;

  --docsearch-searchbox-background: transparent;
  --docsearch-searchbox-focus-background: transparent;
  --docsearch-hit-color: var(--ifm-menu-color-active);
  --docsearch-hit-shadow: none;
  --docsearch-hit-background: none;
  --docsearch-key-gradient: none;
  --docsearch-key-shadow: none;
  --docsearch-footer-background: none;
  --docsearch-footer-shadow: none;
  --docsearch-logo-color: var(--docsearch-muted-color);
  --docsearch-muted-color: var(--ifm-color-emphasis-400);
}


html {
  scroll-behavior: smooth;
}

.version-picker {
  background-color: var(--ifm-color-emphasis-200);
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.version-picker__toggle:hover {
  background-color: unset;
}

.version-picker__item,
.version-picker__list-item {
  border-radius: var(--ifm-global-radius);
  background-color: var(--ifm-color-emphasis-200);
}

.version-picker__link--active,
.version-picker__link:hover {
  background-color: unset;
}

.dropdown__label,
.footer__title {
  font-family: 'Metropolis Bold';
  font-size: 0.8rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}

.dropdown__link {
  font-size: 1rem;
}

.card {
  min-width: 14rem;
}

.card--pointer {
  cursor: pointer;
}

.card-radius--md {
  border-radius: 60px;
}

.card__image {
  background: linear-gradient(180deg, #001c56, #074db6);
  width: 100%;
  height: auto;
}

.card__header {
  text-align: center;
}

.card__footer {
  text-align: center;
}

.card-background:hover {
  background: var(--ifm-color-emphasis-200);
}

.Collapsible__trigger {
  cursor: pointer;
  display: block;
  position: relative;
  padding: 10px;
  /* background-color: rgb(102, 104, 201); */
  /* border: 1px solid red; */
  border-radius: 5rem;
}

.Collapsible__trigger:after {
  font-size: var(--ifm-h2-font-size);
  font-weight: var(--ifm-heading-font-weight);
  font-family: 'Material Icons';
  content: '\e5cf';
  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
  transition: transform 300ms;
}

.Collapsible__trigger.is-open:after {
  transform: rotateZ(180deg);
}

.footer {
  padding-left: 0;
  padding-right: 0;
}

.footer__copyright {
  text-align: left;
  margin: 0 var(--ifm-spacing-horizontal);
}

.footer__bottom {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.footer__links {
  font-size: 1rem;
  margin: 2rem 0;
  justify-content: space-between;
  gap: 2rem;
}

@media (max-width: 966px) {
  .footer__links {
    justify-content: left;
  }
}

.footer__col {
  flex: unset;
  width: unset;
}

@media (max-width: 966px) {
  .footer__col {
    width: 14rem;
  }
}

.footer__logo {
  height: 3rem;
  margin: 0 var(--ifm-spacing-horizontal) -0.8rem var(--ifm-spacing-horizontal);
}

.image-gallery {
  display: grid;
}

.image-gallery-content {
  overflow: hidden;
}

.image-gallery-content.fullscreen {
  align-self: center;
}

.image-gallery-icon:hover {
  color: var(--ifm-color-emphasis-200) !important;
}

.image-gallery-image {
  background: var(--ifm-color-emphasis-200);
}

.image-gallery-video {
  max-width: 100%;
}

.image-gallery-thumbnail-image {
  object-fit: cover;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus,
.image-gallery-thumbnail:hover {
  border: 4px solid var(--ifm-color-emphasis-500) !important;
}

.link__icon {
  font-family: 'iota_icons_font' !important;
  font-size: 2.5rem;
}

[data-theme='dark'] .link__icon {
  color: var(--ifm-menu-color);
}

.markdown {
  margin: 2rem 0rem;

  /*TODO: Remove after banner fix*/
  max-width: 862px;
}

.menu {
  border-top: var(--ifm-global-border-width) solid var(--ifm-color-emphasis-200);
  font-weight: var(--ifm-font-weight-normal);
  font-size: 0.9rem;
  margin-top: calc(-1 * var(--ifm-global-border-width));
  padding-top: calc(1rem + var(--ifm-toc-padding-vertical)) !important;
}

.menu__link--active,
.navbar__link.active {
  color: var(--ifm-navbar-link-hover-color);
  font-weight: var(--ifm-font-weight-semibold);
}

.navbar {
  border-bottom: 1px solid hsl(205, 50%, 12%);
}

.navbar__brand {
  align-self: flex-start;
  margin: calc(-1 * var(--ifm-navbar-padding-vertical)) 0
    calc(-1 * var(--ifm-navbar-padding-vertical))
    calc(-1 * var(--ifm-navbar-padding-horizontal));
}

.navbar__logo {
  height: calc(var(--ifm-navbar-height) - var(--ifm-global-border-width));
}

/* Effectively center the logo in the navbar */
@media (max-width: 996px) {
  .navbar__brand {
    margin-left: auto;
    margin-right: auto;
    /* Because of absolutely placed search icon */
    padding-right: 28px;
  }
}

.navbar__item {
  font-family: 'Metropolis Semi Bold';
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.screen-reader-only {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.table-of-contents,
.table-of-contents li,
.table-of-contents ul,
.table-of-contents__left-border {
  border: none;
  margin: 0 !important;
  padding: 0 !important;
}

.table-of-contents__link {
  border-left: var(--ifm-global-border-width) solid var(--ifm-toc-border-color);
  display: inline-block;
  padding: var(--ifm-toc-padding-vertical) var(--ifm-toc-padding-horizontal);

  transition-property: border-color, color;
  transition-duration: var(--ifm-transition-slow);
  transition-timing-function: var(--ifm-transition-timing-default);
}

.table-of-contents__link:hover {
  color: var(--ifm-menu-color-active);
}

ul ul .table-of-contents__link {
  padding-left: calc(2 * var(--ifm-toc-padding-horizontal));
}

.table-of-contents__link--active {
  border-left-color: var(--ifm-menu-color-active);
  color: var(--ifm-menu-color-active);
  font-weight: var(--ifm-font-weight-semibold);
}

.team__icon {
  fill: var(--ifm-color-primary);
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/** Remove badge on desktop */
@media (min-width: 997px) {
  .theme-doc-version-badge {
    display: none;
  }
}

.link-list {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.theme-doc-toc-mobile {
  color: var(--ifm-menu-color);
}

.theme-doc-toc-mobile button::after {
  content: 'expand_less';
  font-family: 'Material Icons';
  font-size: 1.25rem;
}

.theme-doc-toc-mobile .table-of-contents__link {
  border-left: none;
  color: var(--ifm-menu-color);
}

::selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

.DocSearch .DocSearch-Hit[aria-selected='true'] a {
  background-color: var(--ifm-hover-overlay);
}

.DocSearch-Button-Keys,
.DocSearch-Button-Placeholder {
  display: none !important;
}

.DocSearch.DocSearch-Button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
  width: 28px;
  height: 28px;
}

.DocSearch .DocSearch-Form {
  border-radius: 0;
  border-bottom: 1px solid var(--docsearch-muted-color);
}

.DocSearch .DocSearch-Footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 1px solid var(--docsearch-muted-color);
}

.DocSearch .DocSearch-Search-Icon {
  color: var(--ifm-color-emphasis-600);
}

.DocSearch .DocSearch-Hit[aria-selected='true'] mark {
  color: var(--docsearch-highlight-color) !important;
  text-decoration: none;
}

.theme-doc-sidebar-container {
  margin-right: 1rem;
}

.math {
  overflow-x: auto;
  margin-bottom: 1em;
}

.hero__title {
  font-size:70px;
  color: #fff;
  font-weight:500;
  line-height:1.1;
  margin-left:0;
}

.hero__subtitle {
  font-size:20px;
  font-weight:400;
  line-height:2;
  margin:17px 0 0;
  font-family:  'Robota Mono', monospace;
}