@import '@fontsource-variable/public-sans';
@import '@fontsource-variable/dm-sans';
@import '@fontsource/dm-mono';
@import url('@fortawesome/fontawesome-free/css/brands.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .focused {
    box-shadow: none;
  }
}

.preset-grayout-surface {
  @apply text-surface-700 hover:text-surface-950 dark:text-surface-300 hover:dark:text-surface-50;
}

.pane-divider-horizontal {
  @apply z-[1] h-[2px] transition-colors before:-mt-[3px] before:flex before:h-[8px] before:w-full hover:bg-primary-500 active:bg-primary-500;
}

.pane-divider-vertical {
  @apply z-[1] w-[2px] transition-colors before:-ml-[3px] before:flex before:h-full before:w-[8px] hover:bg-primary-500 active:bg-primary-500;
}

.bg-white-dark {
  @apply dark:bg-dark bg-white;
}

.bg-dark-white {
  @apply bg-dark dark:bg-white;
}

/* Skeleton UI overrides */

.btn {
  gap: calc(0.5rem * var(--space-scale-factor));
}

.btn:hover:where(.dark, .dark *),
.btn-icon:hover:where(.dark, .dark *) {
  --tw-brightness: brightness(1.4);
}

.checkbox,
.radio {
  @apply bg-white-dark border-none;
}

.btn-icon-lg {
  width: calc(2rem /* 32px */ * var(--space-scale-factor));
  height: calc(2rem /* 32px */ * var(--space-scale-factor));
  padding: 0px !important;
}

/* The end of Skeleton UI overrides */
