@font-face {
  font-family: "generic-icons";
  font-display: block;
  src:
    url("generic-icons.woff2?8299509a802b7d22c316f9dd34e0f5df") format("woff2"),
    url("generic-icons.woff?8299509a802b7d22c316f9dd34e0f5df") format("woff");
}

.gc {
  line-height: 1;
}

.gc:before {
  font-family: generic-icons !important;
  font-style: normal;
  font-weight: normal !important;
  vertical-align: top;
}

.gc-layout-panel-right:before {
  content: "\f101";
}
.gc-http-get:before {
  content: "\f102";
}
.gc-loader-alt:before {
  content: "\f103";
}
.gc-circle-solid:before {
  content: "\f104";
}
.gc-boiling-flask:before {
  content: "\f105";
}
