@import "./assets/fonts/dm-sans.css" layer(base); /* '@fontsource-variable/public-sans' */
@import "@fontsource/dm-mono" layer(base);
@import url("@fortawesome/fontawesome-free/css/brands.min.css") layer(base);

@import "tailwindcss";

/* Scan profiler packages for Tailwind classes */
@source "../node_modules/profiler-layout/**/*.{svelte}";

@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton-svelte";

@import "feldera-theme/feldera-modern.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-dark: rgb(24 24 24);
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "DM Sans Variable", system-ui, -apple-system, sans-serif;
  background-color: #ffffff;
}

body.dark {
  background-color: var(--color-dark);
}

.select {
  appearance: none;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  print-color-adjust: exact;
  background-position: right 0.5rem center;
  /* top | right | bottom | left */
  padding: 0.5rem 2.5rem 0.5rem 0.75rem;
}
