services:
  workspace:
    build:
      context: .
      # Note that the path of the Dockerfile and context is relative to the *primary*
      # docker-compose.yml file (the first in the devcontainer.json "dockerComposeFile"
      # array).
      dockerfile: Dockerfile
    tty: true
    environment:
      - RUST_VERSION=1.91.1
      - RUST_BACKTRACE=1
      - REDPANDA_BROKERS=redpanda:9092
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
  postgres-dev:
    image: postgres:15-alpine
    restart: always
    ports:
      - 5435:5432
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
      PGDATA: /var/lib/pg/data
  db-admin:
    image: adminer:5-standalone
    restart: always
    ports:
      - 5436:8080