[package]
name = "dbsp_nexmark"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"

    [package.metadata.docs.rs]
    all-features = true
    rustdoc-args = ["--cfg", "docsrs"]

[dependencies]
dbsp = { path = "../dbsp" }
anyhow = "1.0.57"
csv = "1.2.2"
rust_decimal = { version = "1.26.1" }
regex = { version = "1.6.0" }
time = { version = "0.3.14", features = ["formatting"] }
paste = { version = "1.0.9" }
bincode = { version = "2.0.0-rc.2" }

rand = { version = "0.8", features = ["small_rng"] }
clap = { version = "3.2.8", features = ["derive", "env"] }
cached = { version = "0.38.0" }
serde = { version = "1.0", features = ["derive"] }

    [dependencies.size-of]
    version = "0.1.3"
    features = ["hashbrown", "time-std", "xxhash-xxh3", "arcstr", "rust_decimal"]

[dev-dependencies]
rstest = "0.15"
hdrhist = "0.5"
ascii_table = "4.0.2"
num-format = "0.4.0"
serde_with = "3.0.0"
indicatif = "0.17.0-rc.11"
mimalloc-rust-sys = "1.7.2"
time = { version = "0.3.14", features = [
    "formatting",
    "serde",
    "serde-human-readable",
] }

[[bench]]
name = "nexmark"
harness = false

[[bench]]
name = "nexmark-gen"
harness = false
