[package]
name = "pipeline_types"
version = "0.1.0"
edition = "2021"
license = "MIT"
description = "Public API types for pipelines"
homepage = "https://github.com/feldera/feldera"
repository = "https://github.com/feldera/feldera"
keywords = ["DBSP", "streaming", "analytics", "database"]
categories = ["database", "api-bindings", "network-programming"]
publish = false

[features]
testing = ["proptest", "proptest-derive"]

[dependencies]
serde = { version = "1.0", features = ["derive", "rc"] }
serde_json = { version = "1.0.103", features = ["raw_value"] }
anyhow = { version = "1.0.57", features = ["backtrace"] }
libc = "0.2.153"
log = "0.4.20"
utoipa = "4.1"
proptest = { version = "1.0.0", optional = true }
proptest-derive = { version = "0.3.0", optional = true }
# Revert after https://github.com/paupino/rust-decimal/pull/637 is merged:
rust_decimal = { git = "https://github.com/gz/rust-decimal.git", rev = "ea85fdf" }
actix-web = "4.3"
enum-map = "2.7.3"
json5 = "0.4.1"

[dev-dependencies]
lazy_static = "1.4.0"
rust_decimal_macros = "1.32"
csv = "1.2.2"
