@font-face {
	font-family: "feldera-material-icons";
	font-display: block;
	src: url("feldera-material-icons.woff2?5494dece2c7c74c134f5b4043c346cc8") format("woff2"),
url("feldera-material-icons.woff?5494dece2c7c74c134f5b4043c346cc8") format("woff");
}

.fd {
	line-height: 1;
}

.fd:before {
	font-family: feldera-material-icons !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.fd-panel-bottom:before {
	content: "\f101";
}
.fd-save:before {
	content: "\f102";
}
.fd-circle-alert:before {
	content: "\f103";
}
.fd-arrow-down:before {
	content: "\f104";
}
.fd-network:before {
	content: "\f105";
}
.fd-chevron-right:before {
	content: "\f106";
}
.fd-x:before {
	content: "\f107";
}
.fd-book-open:before {
	content: "\f108";
}
.fd-lock-open:before {
	content: "\f109";
}
.fd-square-power:before {
	content: "\f10a";
}
.fd-circle-x:before {
	content: "\f10b";
}
.fd-circle-stop:before {
	content: "\f10c";
}
.fd-panel-right:before {
	content: "\f10d";
}
.fd-file-text:before {
	content: "\f10e";
}
.fd-trash-2:before {
	content: "\f10f";
}
.fd-sun:before {
	content: "\f110";
}
.fd-user:before {
	content: "\f111";
}
.fd-square:before {
	content: "\f112";
}
.fd-chevron-down:before {
	content: "\f113";
}
.fd-lightbulb:before {
	content: "\f114";
}
.fd-chevron-up:before {
	content: "\f115";
}
.fd-sliders-horizontal:before {
	content: "\f116";
}
.fd-wine:before {
	content: "\f117";
}
.fd-triangle-alert:before {
	content: "\f118";
}
.fd-pause:before {
	content: "\f119";
}
.fd-circle-check-big:before {
	content: "\f11a";
}
.fd-moon:before {
	content: "\f11b";
}
.fd-check:before {
	content: "\f11c";
}
.fd-dot:before {
	content: "\f11d";
}
.fd-plus:before {
	content: "\f11e";
}
.fd-circle-user:before {
	content: "\f11f";
}
.fd-circle-stop-locked:before {
	content: "\f120";
}
.fd-more_horiz:before {
	content: "\f121";
}
.fd-info:before {
	content: "\f122";
}
.fd-settings:before {
	content: "\f123";
}
.fd-copy-check:before {
	content: "\f124";
}
.fd-copy:before {
	content: "\f125";
}
.fd-book-marked:before {
	content: "\f126";
}
.fd-panel-left:before {
	content: "\f127";
}
.fd-pencil-line:before {
	content: "\f128";
}
.fd-message-circle-question:before {
	content: "\f129";
}
.fd-play:before {
	content: "\f12a";
}
.fd-menu:before {
	content: "\f12b";
}
.fd-arrow-right:before {
	content: "\f12c";
}
.fd-rocket:before {
	content: "\f12d";
}
