name: Benchmarks

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  CARGO_NET_RETRY: 10
  RUST_BACKTRACE: short
  RUSTUP_MAX_RETRIES: 10
  CI_MACHINE_TYPE: "skylake-2x"
  FORCE_COLOR: 1

jobs:
  benchmark:
    permissions:
      contents: read
      issues: write
      pull-requests: write
    runs-on: [ self-hosted, skylake40, benchmark-machine ]
    steps:
      - uses: actions/checkout@v3

      - name: Install earthly
        uses: earthly/actions-setup@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          version: 0.8.14

      - name: MUIX license
        run: echo "NEXT_PUBLIC_MUIX_PRO_KEY=${muix_license}" > web-console/.env && cat web-console/.env
        env:
          muix_license: ${{ secrets.muix_license }}

      - name: Earthly version
        run: earthly --version

      - name: Run Benchmarks
        run: earthly --verbose -P +benchmark

      - name: Fetch previous results
        run: bash ./scripts/clone-gh-pages.bash
        
      - name: Publish results
        run: bash ./scripts/bench-publish.bash


      # Find the PR associated with this push, if there is one. Note that this
      # is needed because `${{ github.event.pull_request.number }}` does not get
      # set on all requests.
      - uses: jwalton/gh-find-current-pr@v1
        id: findPr
        with:
          state: open

      # Find comment with benchmark info if it exists
      - name: Find Comment
        uses: peter-evans/find-comment@v2
        # This action fails when not running on a PR.
        if: ${{ steps.findPr.outputs.pr != '' }}
        id: fc
        with:
          issue-number: ${{ steps.findPr.outputs.pr }}
          comment-author: 'github-actions[bot]'
          body-includes: Benchmark results

      - name: Create or update comment
        uses: peter-evans/create-or-update-comment@v2
        if: ${{ steps.findPr.outputs.pr != '' }}
        with:
          comment-id: ${{ steps.fc.outputs.comment-id }}
          issue-number: ${{ steps.findPr.outputs.pr }}
          body-file: nexmark_comment.txt
          edit-mode: replace
