name: Pre-commit

on:
  pull_request:

jobs:
  main:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v3
      - uses: oven-sh/setup-bun@v2
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: 1.82.0
          components: rustfmt clippy
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - uses: Swatinem/rust-cache@v2
      - uses: pre-commit/action@v3.0.1
      - uses: pre-commit-ci/lite-action@v1.1.0
        if: always()