name: Upload crates.io packages

permissions:
  contents: read
  id-token: write

on:
  workflow_call:
    inputs:
      environment:
        description: "Environment to use (ci or release)"
        required: false
        type: string
        default: "release"
  workflow_dispatch:
    inputs:
      tag:
        description: "Tag to release (WARNING: Only use for emergency fixes, not for regular releases)"
        required: false
        type: string
      environment:
        description: "Environment to use (ci or release)"
        required: false
        type: string
        default: "release"

jobs:
  deploy:
    runs-on: [k8s-runners-amd64]
    environment:
      name: ${{ inputs.environment || 'release' }}
    container:
      image: ghcr.io/feldera/feldera-dev:sha-a20fef16d212c8c3314c25c0fb16d8c680f95124
    steps:
      - name: Show Kubernetes node
        if: always()
        run: |
          echo "K8S node: ${K8S_NODE_NAME}"

      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.tag || github.ref }}

      - uses: rust-lang/crates-io-auth-action@v1
        if: ${{ inputs.environment == 'release' }}
        id: auth

      - name: Run cargo publish
        # TODO: Once we are on 1.90 rustc we can just use cargo publish workspace
        # then we can truly test that this works as part of merge queue
        if: ${{ vars.RELEASE_DRY_RUN == 'false' && inputs.environment == 'release' }}
        run: |
          cargo publish ${{ vars.CARGO_PUBLISH_FLAGS }} --package feldera-ir
          cargo publish ${{ vars.CARGO_PUBLISH_FLAGS }} --package feldera-types
          cargo publish ${{ vars.CARGO_PUBLISH_FLAGS }} --package feldera-storage
          cargo publish ${{ vars.CARGO_PUBLISH_FLAGS }} --package feldera-observability
          cargo publish ${{ vars.CARGO_PUBLISH_FLAGS }} --package feldera-rest-api
          cargo publish ${{ vars.CARGO_PUBLISH_FLAGS }} --package dbsp
          cargo publish ${{ vars.CARGO_PUBLISH_FLAGS }} --package fda
          cargo publish ${{ vars.CARGO_PUBLISH_FLAGS }} --package feldera-fxp
          cargo publish ${{ vars.CARGO_PUBLISH_FLAGS }} --package feldera-sqllib
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
