name: Test Java Sources

on:
  workflow_call:

jobs:
  java-tests:
    name: Execute Java Tests
    strategy:
      matrix:
        include:
          - runner: [self-hosted, skylake40]
          - runner: blacksmith-16vcpu-ubuntu-2204-arm
    runs-on: ${{ matrix.runner }}

    container:
      image: ghcr.io/feldera/feldera-dev:f4797ad926773a38483275405728a9eb3b9005b5
      options: --user=ubuntu
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # The docker container when executed in the action runs with a different home directory
      # than we set in the dev container (?), hence this step is necessary (sigh)
      # https://github.com/actions/runner/issues/863
      - name: Rustup set default toolchain
        run: rustup default stable

      - name: Cache Rust dependencies
        uses: Swatinem/rust-cache@v2

      - name: Cache Maven dependencies
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: maven-${{ runner.os }}-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            maven-${{ runner.os }}-

      # TODO: Avoid doing this twice and ideally download & reuse the JAR from build-java.yml workflow
      - name: Run build.sh
        run: ./build.sh
        working-directory: ./sql-to-dbsp-compiler

      - name: Run mvn test
        run: mvn test --no-transfer-progress -q -B -pl SQL-compiler -Dsurefire.failIfNoSpecifiedTests=false -Dtest=!OtherTests.rustFmt
        working-directory: ./sql-to-dbsp-compiler
