name: Java SLT Nightly

on:
  schedule:
    - cron: "30 11 * * *" # 11:30 AM UTC daily

jobs:
  java-tests:
    name: Execute Java SLT
    strategy:
      matrix:
        include:
          - runner: [self-hosted, skylake40]
            arch: x86_64
            target: x86_64-unknown-linux-gnu
          - runner: blacksmith-16vcpu-ubuntu-2204-arm
            arch: aarch64
            target: aarch64-unknown-linux-gnu
    runs-on: ${{ matrix.runner }}

    container:
      image: ghcr.io/feldera/feldera-dev:sha-adccd0011c9ab1bb2c4aaba5bc765a4491584ee1
      options: --user=ubuntu
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # The docker container when executed in the action runs with a different home directory
      # than we set in the dev container (?), hence this step is necessary (sigh)
      # https://github.com/actions/runner/issues/863
      - name: Rustup set default toolchain
        run: rustup default stable

      - name: Cache Rust dependencies
        uses: Swatinem/rust-cache@v2

      - name: Cache Maven dependencies
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: maven-${{ runner.os }}-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            maven-${{ runner.os }}-

      # TODO: Avoid doing this twice and ideally download & reuse the JAR from build-java.yml workflow
      - name: Run build.sh
        run: ./build.sh
        working-directory: ./sql-to-dbsp-compiler

      - name: Run SLT tests
        run: mvn test --no-transfer-progress -q -B -Dsurefire.failIfNoSpecifiedTests=false -Dtest=RotateTests
        working-directory: ./sql-to-dbsp-compiler
