[package]
name = "feldera-sqllib"
version = "0.50.0"
edition = "2021"
license = "MIT"
description = "SQL runtime library for Feldera"
homepage = "https://github.com/feldera/feldera"
repository = "https://github.com/feldera/feldera"
keywords = ["DBSP", "streaming", "analytics", "database", "sql"]
categories = ["database", "api-bindings", "network-programming"]
publish = true

[dependencies]
thiserror = { workspace = true }
dbsp = { workspace = true }
dec = { workspace = true }
feldera-types = { workspace = true }
itertools = { workspace = true }
# `serde-with-arbitrary-precision` is needed because we enable `arbitrary_precision` in `serde_json`.
geo = { workspace = true }
size-of = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true, features = ["arbitrary_precision"] }
num = { workspace = true }
# Go back to a version once commit containing 849932 is released:
chrono = { workspace = true }
like = { workspace = true }
paste = { workspace = true }
regex = { workspace = true }
rkyv = { workspace = true, features = ["std", "size_64", "validation", "smallvec"] }
hex = { workspace = true }
num-traits = { workspace = true }
flate2 = { workspace = true }
metrics = { workspace = true }
base64 = { workspace = true }
uuid = { workspace = true, features = ["v4", "std"] }
arcstr = { workspace = true, features = ["serde"] }
ryu = { workspace = true }
lexical-core = { version = "1.0.5" }
smallvec = { workspace = true }

[dev-dependencies]
serde_json = { workspace = true }
